# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*-build-*

# backups

*~

# data files

*.xpv
*.xdv
*.ps.txt
logfile

# executable
CsrUsbProg
